.products {
  margin-top: 46px;
}

.products__container {
  display: flex;
  justify-content: center
}

.categories {
  display: flex;
}

.categories__container {
  width: 310px;
  margin-top: 14px;
  height: 310px;
  
}

.categories__block {
  width: 268px;
  // height: 383px;
  display: flex;
  flex-direction: column;
  margin-bottom: 36px;
}

.categories__content {
  display: flex;
  padding-left: 18px;
  // gap: 137px;
  justify-content: space-between;
}

.categories__leftColumn {
  width: 101px; //91
  height: 360px;
  display: flex;
}

.categories__leftColumn li {
  // margin-bottom: 37px;
  color: #3D3D3D;
  font-family: Cera Pro;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px;
}

.categories__text {
  color: #3D3D3D;
  font-family: Cera Pro;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 16px;
  // margin-bottom: 18px;
}

.categories__rightColumn li {
  // margin-bottom: 37px;
  color: #3D3D3D;
  font-family: Cera Pro;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px;
}

.categories__slideContainer {
  
}

.categories__slider {
  -webkit-appearance: none;
  width: 209px;
  height: 4px;
  background: linear-gradient(90deg, #46A358 60%, #FBFBFB 60%);
  outline: none;
  opacity: 0.7;
  -webkit-transition: 0.2s;
  transition: opacity 0.2s;
  border-radius: 12px;
  box-shadow: 0px 1px 10px 1px black;
}

.categories__slider:hover {
  opacity: 1;
}

.categories__slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 17px;
  height: 17px;
  background: #46A358;
  border-radius: 50%;
  cursor: pointer;
}


// ДЛЯ МОЗИЛЛЫ
.categories__slider::-moz-range-thumb { 
  width: 40px;
  height: 40px;
  background: white;
  border-radius: 50%;
  cursor: pointer;
}

.categories__button {
  width: 90px;
  height: 35px;
  background-color: #46A358;
  padding: 10px 12px;
  border: none;
  outline: none;
  border-radius: 6px;
  color: white;
  padding: 8px 0px 7px 0px;
  cursor: pointer;
}

.categories__price {
  margin-bottom: 46px;
}

.categories__range {
  color: #3D3D3D;
  font-family: Cera Pro;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 16px; /* 88.889% */
  margin-bottom: 15px;
}

.categories__price-text {
  color: #3D3D3D;
  font-family: Cera Pro;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px; /* 106.667% */
  margin-bottom: 16px;
  margin-top: 21px;
}


.categories__price-text span {
  color: #46A358;
  font-family: Cera Pro;
  font-size: 15px;
  font-style: normal;
  font-weight: 700;
  line-height: 16px;
}





