.pages {
  margin-top: 90px;
  width: 1200px;
  margin: 90px auto 0 auto;
}

.pages__container {
  display: flex;
  float: right;
  width: 215px;
  height: 35px;
  gap: 10px;
}

.pages__button {
  width: 35px;
  height: 35px;
  // background-color: #46A358;
  padding: 10px 12px;
  border-radius: 4px;
  border: 1px solid #E5E5E5;
  outline: none;
  border-radius: 6px;
  color: black;
  padding: 9px 13px 11px 13px;
  cursor: pointer;
  color: #3D3D3D;
  font-family: Cera Pro;
  font-size: 18px;
  font-style: normal;
  font-weight: 300;
  line-height: 16px; /* 88.889% */
}

.pages__button img {
  margin-top: 3px;
}

.pages__button_active {
  background-color: #46A358;
  color: white;
}