/* Reset and base styles  */
@import url("fonts/stylesheet.css");
@import './fonts/stylesheet.css';
* {
  padding: 0px;
  margin: 0px;
  border: none;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* Links */
a, a:link, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

/* Common */
aside, nav, footer, header, section, main {
  display: block;
}

h1, h2, h3, h4, h5, h6, p {
  font-size: inherit;
  font-weight: inherit;
}

ul, ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

img, svg {
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}

/* Form */
input, textarea, button, select {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: transparent;
}

input::-ms-clear {
  display: none;
}

button, input[type=submit] {
  display: inline-block;
  -webkit-box-shadow: none;
          box-shadow: none;
  background-color: transparent;
  background: none;
  cursor: pointer;
}

input:focus, input:active,
button:focus, button:active {
  outline: none;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

label {
  cursor: pointer;
}

legend {
  display: block;
}

body {
  width: 1440px;
}

.container {
  padding: 0 15px;
  width: 1230px;
  margin: 0 auto;
}

body {
  margin: 0;
  width: 100%;
}

a {
  color: black;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  min-height: 53px;
  margin-top: 26px;
}

.container {
  border-bottom: 0.3px solid rgba(70, 163, 88, 0.2);
}

.header__top-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 50px;
     -moz-column-gap: 50px;
          column-gap: 50px;
}

.header__right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 35px;
     -moz-column-gap: 35px;
          column-gap: 35px;
}

.header__cart {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__button {
  width: 100px;
  height: 35px;
  background-color: #46A358;
  padding: 10px 12px;
  border: none;
  outline: none;
  border-radius: 6px;
  color: white;
  padding: 8px 0px 7px 0px;
  cursor: pointer;
}

.slider {
  position: relative;
  width: 1200px;
  height: 450px;
  margin: 20px 0;
  margin: 12px auto 0 auto;
  overflow: hidden;
}

.slider-slides {
  position: relative;
  width: 1200px;
  height: 100%;
  -webkit-transition: -webkit-transform 0.3s cubic-bezier(0.51, 0.92, 0.24, 1);
  transition: -webkit-transform 0.3s cubic-bezier(0.51, 0.92, 0.24, 1);
  transition: transform 0.3s cubic-bezier(0.51, 0.92, 0.24, 1);
  transition: transform 0.3s cubic-bezier(0.51, 0.92, 0.24, 1), -webkit-transform 0.3s cubic-bezier(0.51, 0.92, 0.24, 1);
  will-change: transform;
}

.slider-slide {
  float: left;
  height: 100%;
  min-width: 100%;
  background-position: 50% 50%;
  background-size: cover;
  width: 100%;
}

.slider-dots {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  bottom: 20px;
  left: 20px;
  width: calc(100% - 40px);
}

.slider-dot,
.slider-indicator {
  display: block;
  margin: 0 5px;
  height: 14px;
  background: rgba(255, 255, 255, 0.5);
  border-radius: 50px;
  cursor: pointer;
}

.slider-indicator {
  position: absolute;
  background: white;
  width: auto;
  -webkit-box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2), 0 16px 20px rgba(0, 0, 0, 0.2);
          box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2), 0 16px 20px rgba(0, 0, 0, 0.2);
}

.slider-indicator-left {
  -webkit-transition: left 0.3s cubic-bezier(0.51, 0.92, 0.24, 1.15), right 0.3s 0.1s cubic-bezier(0.51, 0.92, 0.24, 1.15);
  transition: left 0.3s cubic-bezier(0.51, 0.92, 0.24, 1.15), right 0.3s 0.1s cubic-bezier(0.51, 0.92, 0.24, 1.15);
}

.slider-indicator-right {
  -webkit-transition: left 0.3s 0.1s cubic-bezier(0.51, 0.92, 0.24, 1.15), right 0.3s cubic-bezier(0.51, 0.92, 0.24, 1.15);
  transition: left 0.3s 0.1s cubic-bezier(0.51, 0.92, 0.24, 1.15), right 0.3s cubic-bezier(0.51, 0.92, 0.24, 1.15);
}

.blog {
  margin-top: 200px;
}

.blog__container {
  max-width: 1202px;
  margin: 0px auto 0px auto;
}

.blog__title {
  color: #3D3D3D;
  text-align: center;
  font-family: Cera Pro;
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: 16px;
  margin-bottom: 15px;
}

.blog__subtitle {
  color: #727272;
  text-align: center;
  font-family: Cera Pro;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  margin-bottom: 35px;
}

.blog__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.blog__column {
  background-color: #FBFBFB;
}

.item-blog__icon {
  margin-bottom: 8.83px;
}

.item-blog__arrow {
  margin-left: 3px;
}

.item-blog__date {
  color: #46A358;
  font-family: Cera Pro;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 16px;
  margin-bottom: 4px;
}

.item-blog__title {
  color: #3D3D3D;
  font-family: Cera Pro;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 26px;
  width: 189px;
  margin-bottom: 4px;
}

.item-blog__subtitle {
  color: #727272;
  font-family: Cera Pro;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
  width: 242px;
  margin-bottom: 9px;
}

.item-blog__read {
  color: #3D3D3D;
  font-family: Cera Pro;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: 0.2s ease-in;
  transition: 0.2s ease-in;
}
.item-blog__read:hover {
  color: #46A358;
}

.item-blog__read a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: 0.2s ease-in;
  transition: 0.2s ease-in;
}
.item-blog__read a:hover {
  color: #46A358;
}

footer {
  margin-top: 107px;
}

.footer-container {
  width: 1200px;
  margin-top: 92.23px;
}

.footer__top {
  height: 87.62px;
  width: 1200px;
  background-color: rgba(70, 163, 88, 0.1);
  margin: 0 auto 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__top-cut {
  width: 933px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 27px;
}

.footer__address {
  width: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer__adress-text {
  width: 170px;
  height: 36.81px;
  color: #3D3D3D;
  font-family: Cera Pro;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
}

.footer__mail {
  color: #3D3D3D;
  font-family: Cera Pro;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 10px;
     -moz-column-gap: 10px;
          column-gap: 10px;
}

.footer__number {
  color: #3D3D3D;
  font-family: Cera Pro;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 8px;
     -moz-column-gap: 8px;
          column-gap: 8px;
}

.footer__main {
  width: 1200px;
  height: 236px;
  background-color: #FBFBFB;
  margin: 0 auto;
  border-bottom: 0.3px solid rgba(70, 163, 88, 0.2);
}

.footer__content {
  width: 1022px;
  height: 163px;
  padding: 33px 0px 40px 23px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 26px;
}

.footer__nav {
  width: 625px;
  height: 174px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer-nav__list li {
  margin-bottom: 18px;
}

.footer__title {
  color: #3D3D3D;
  font-family: Cera Pro;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  margin-bottom: 17px;
}

.footer__text {
  color: #3D3D3D;
  font-family: Cera Pro;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
}

.footer__right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer__media {
  margin-bottom: 32px;
}

.footer__social {
  width: 190px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer__button {
  width: 30px;
  height: 30px;
  outline: none;
  border-radius: 4px;
  border: 1px solid rgba(70, 163, 88, 0.2);
  color: white;
  cursor: pointer;
}

.footer__footer span {
  color: #3D3D3D;
  font-family: Cera Pro;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px; /* 214.286% */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__copyright span {
  color: #3D3D3D;
  font-family: Cera Pro;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px; /* 214.286% */
  text-align: center;
}

.products {
  margin-top: 46px;
}

.products__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.categories {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.categories__container {
  width: 310px;
  margin-top: 14px;
  height: 310px;
}

.categories__block {
  width: 268px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 36px;
}

.categories__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 18px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.categories__leftColumn {
  width: 101px;
  height: 360px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.categories__leftColumn li {
  color: #3D3D3D;
  font-family: Cera Pro;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px;
}

.categories__text {
  color: #3D3D3D;
  font-family: Cera Pro;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 16px;
}

.categories__rightColumn li {
  color: #3D3D3D;
  font-family: Cera Pro;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px;
}

.categories__slider {
  -webkit-appearance: none;
  width: 209px;
  height: 4px;
  background: -webkit-gradient(linear, left top, right top, color-stop(60%, #46A358), color-stop(60%, #FBFBFB));
  background: linear-gradient(90deg, #46A358 60%, #FBFBFB 60%);
  outline: none;
  opacity: 0.7;
  -webkit-transition: 0.2s;
  -webkit-transition: opacity 0.2s;
  transition: opacity 0.2s;
  border-radius: 12px;
  -webkit-box-shadow: 0px 1px 10px 1px black;
          box-shadow: 0px 1px 10px 1px black;
}

.categories__slider:hover {
  opacity: 1;
}

.categories__slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 17px;
  height: 17px;
  background: #46A358;
  border-radius: 50%;
  cursor: pointer;
}

.categories__slider::-moz-range-thumb {
  width: 40px;
  height: 40px;
  background: white;
  border-radius: 50%;
  cursor: pointer;
}

.categories__button {
  width: 90px;
  height: 35px;
  background-color: #46A358;
  padding: 10px 12px;
  border: none;
  outline: none;
  border-radius: 6px;
  color: white;
  padding: 8px 0px 7px 0px;
  cursor: pointer;
}

.categories__price {
  margin-bottom: 46px;
}

.categories__range {
  color: #3D3D3D;
  font-family: Cera Pro;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 16px; /* 88.889% */
  margin-bottom: 15px;
}

.categories__price-text {
  color: #3D3D3D;
  font-family: Cera Pro;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px; /* 106.667% */
  margin-bottom: 16px;
  margin-top: 21px;
}

.categories__price-text span {
  color: #46A358;
  font-family: Cera Pro;
  font-size: 15px;
  font-style: normal;
  font-weight: 700;
  line-height: 16px;
}

.catalog__container {
  width: 840px;
  height: 1244px;
}

.catalog__sort {
  margin-bottom: 38px;
  color: #3D3D3D;
  font-family: Cera Pro;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
}

.catalog__sortBy img {
  margin-top: 1px;
}

.catalog__block {
  width: 840px;
  height: 1190px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.catalog__img {
  margin: 0 auto 31px auto;
  max-width: 250px;
  max-height: 250px;
}

.catalog__title {
  color: #3D3D3D;
  font-family: Cera Pro;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
  margin-bottom: 6px;
}

.catalog__price {
  color: #46A358;
  font-family: Cera Pro;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 16px;
}

.catalog__item {
  width: 254px;
  height: 319px;
  display: block;
}

.catalog__item:hover {
  border-top: 1px solid #46A358;
}

.pages {
  margin-top: 90px;
  width: 1200px;
  margin: 90px auto 0 auto;
}

.pages__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  float: right;
  width: 215px;
  height: 35px;
  gap: 10px;
}

.pages__button {
  width: 35px;
  height: 35px;
  padding: 10px 12px;
  border-radius: 4px;
  border: 1px solid #E5E5E5;
  outline: none;
  border-radius: 6px;
  color: black;
  padding: 9px 13px 11px 13px;
  cursor: pointer;
  color: #3D3D3D;
  font-family: Cera Pro;
  font-size: 18px;
  font-style: normal;
  font-weight: 300;
  line-height: 16px; /* 88.889% */
}

.pages__button img {
  margin-top: 3px;
}

.pages__button_active {
  background-color: #46A358;
  color: white;
}